<!doctype html>
<html lang="en">
  <head>
   {{>links}}
   
  </head>
  <body>
    <!--Adding Partials Here-->
      {{>header}}

    <!--My added part starts-->
        <div class="header_hero">
            <div class="container">
                <div class="row">
                    <!--Left side content-->
                    <div class= "col-lg-6 col-10 mx-auto">
                        <div class="header_hero__text">
                            <h2><span>Music</span> for EveryOne!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                            <div class="header_hero__btn">
                                <a href="#" alt="">Download app NOW!</a>
                                <a href="#" alt="" id="btn__2">Yey! 30 days FREE trial</a>
                            </div>
                        </div>
                    </div>
                    <!--right side content-->
                    <div class= "col-lg-6 col-10 mx-auto">
                        <figure class="header_hero__img">
                            <img src="images/img.svg" alt="" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    <!--My added part ends-->
    {{>footer}}
  </body>
</html>